body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.jumbotron {
  padding: 2rem 1rem;
  background-color: #f6f7fb;
}

#about {
  background-color: #f6f7fb;
  justify-content: center;
  align-items: center;
}

#about p {
  color: #7a7a7a;
}

#organization {
  background-color: #fff;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  transition: 0.3s;
  background-color: #9c88ff;
  color: #fff;
}

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 390px;
  min-height: 520px;
  background-color: #f6f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  overflow: hidden;
  transition: 0.3s;
  padding: 0.85rem 2rem;
  border-radius: 16px;
  box-shadow: 1rem;
}

#sertif {
  background-color: #8c7ae6;
  color: #fff;
}

#sertif img {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  height: 330px;
  width: 100%;
  cursor: pointer;
}

.footer {
  background-color: #9c88ff;
}

.progress-bar {
  background-color: #9c88ff;
}
